body, button{
  text-align: center;
  font-family: 'Sigmar One', cursive;
  color: whitesmoke;
}

body {
  background-color: black;
}

h1 {
  margin: 80px 0 20px;
}

h2, h3 {
margin: 50px 0 50px;
}

img {
  width: 325px;
  height: 208px;
}

.search, .random {
  margin: 40px;
}

a {
  margin: 0 50px 0;
  text-decoration: none;
  color: maroon;
}

ul{
  list-style-type: none;
}

li {
  margin: 80px;
}

p {
  margin-top: 20px;
}

input, button {
  margin: 20px;
}

input {
  background-color: #111111;
  color: papayawhip;
  text-align: center;
  padding: 10px;
  border: solid 2px #dcdcdc;
}
