body {
  text-align: center;
}

h1, h2, h3 {
margin: 20px;
}

img {
  width: 325px;
  height: 208px;
}

.search, .random {
  margin: 40px;
}

a {
  margin: 0 50px 0;
}

ul{
  list-style-type: none;
}

li {
  margin: 80px;
}

p {
  margin-top: 20px;
}

input {
  text-align: center;
}
